asgiref==3.2.3
astroid==2.3.3
autopep8==1.4.4
cloudpickle==1.2.2
colorama==0.4.1
cycler==0.10.0
Django==3.0.2
grpcio==1.26.0
isort==4.3.21
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
mccabe==0.6.1
# Editable install with no version control (mlagents-envs==0.12.1)
-e d:\program files\unity hub\gameproject\ml-agents-master\ml-agents-envs
numpy==1.17.3
Pillow==6.2.1
protobuf==3.18.3
psycopg2-binary==2.8.4
pycodestyle==2.5.0
pylint==2.4.4
pyparsing==2.4.4
python-dateutil==2.8.1
pytz==2019.3
six==1.13.0
sqlparse==0.3.0
virtualenv==16.7.7
wrapt==1.11.2
